/*------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------*/

// HEADINGS

@each $heading, $size in ($heading-size) {
  #{$heading} {
    font-size: $size * 1rem;
    @include headingStyle();
  }
}

// TYPOGRAFÍA
p,
span,
ol,
ul {
  line-height: $Base_Lineheight;
  font-weight: $Base_Fontweight;
  font-size: $Base_Fontsize;
}
