@import '../lib/variables';
/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

%btn {
  height: 40px;
  width: 300px;
  font-weight: $Base_Fontweight;
  color: $Color_White;
  background-color: $Color_Brand;
  &:hover {
    background-color: $Color_White;
    color: $Color_Brand;
  }
}
