@import '../../sass/lib/mediaqueries';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 50%);
  & figure:first-child {
    width: 30%;
  }
  & div {
    text-align: center;
    font-weight: 700;
    grid-area: 2/1/2/3;
  }
  & figure:last-child {
    width: 50%;
    grid-area: 1/2/2/3;
    justify-self: end;
  }
}

@include tablet {
  .container {
    grid-template-columns: auto 80% auto;
    grid-template-rows: initial;
    & figure:first-child {
      width: 100%;
    }
    & div {
      text-align: start;
      grid-area: 1/2/2/3;
    }
    & figure:last-child {
      grid-area: 1/3/2/4;
    }
  }
}
